{% extends "base.html" %}

{% block header %}

<header>
    <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active">
                    <p id="picture" class='pull-left img-circle' style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{chungus}}); width: 50px; height: 50px;">
                    </p>
                </li>
                <li>
                    <h5>{{ me['name'] }}</h5>
                </li>
            </ul>
        <h3 class="text-muted" style='font-weight: 100;'>The FAD Study</h3>
    </div>
</header>

{% endblock%}