{% extends "base.html" %}

{% block topbar %}

<div class="jumbotron">
  <h1>Facebook use in Affective Disorders</h1>
  <p class="lead">The FAD study – Facebook use in affective disorders - aims to analyze if the use of social media sites such as Facebook, changes just before people with bipolar disorder relapse with a manic or depressive episode.</p>

  <div id="login-flow">
    <fb:login-button perms="email,offline_access" show-faces="true" a class="btn btn-lg btn-facebook"><i class="icon-facebook"></i></fb:login-button>
  </div>
</div>

<!--   <div id="fb-root"></div>
  <h1>Welcome</h1>
  <div id="login-flow">
    <fb:login-button perms="email,offline_access" show-faces="true"></fb:login-button>
  </div> -->

{% endblock %}

{% block content %}
{% endblock %}
