{% extends "base.html" %}

{% block topbar %}
<header>
  <div class="header">
          <ul class="nav nav-pills pull-right">
              <li style='margin-top: 12px;'>
                <a style='padding: 0px; display:inline; hover: none;' href='http://facebook.com/{{ me["id"] }}'>{{ me['name'] }}</a>
              </li>
              {% if user.role == 1 %}
              <li style='margin-top: 2px; margin-left: 2px; color: black;'>
                <a class='nav-link' href="/admin/" style='color: black;'
                   data-toggle="tooltip" title="Admin">
                  <i class="icon-lock icon-large"></i>
                </a>
              </li>
              {% endif %}
              <li style='margin-top: 2px; margin-left: 2px; color: black;'>
                <a id='log-out' class='nav-link' href="#" style='color: black;'
                   data-toggle="tooltip" title="Log out">
                  <i class="icon-signout icon-large"></i>
                </a>
              </li>
          </ul>
      <h3 id='logo' style='font-weight: 100; padding-bottom: 4px;'>
        <a class="text-muted" href="/">The FAD Study</a>
      </h3>
  </div>
</header>

<section id='user-summary'>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class='pull-left'>
                                <a href='/admin/users/'>Users</a>
                            </h4>
                            <h4 class='pull-right'>
                                <small>Count:</small> {{ users|count }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img src='/static/images/users_graph.png' alt='users'
                                 style='margin-left: 65px;'>
                        </div>
                    </div>
                    <div class="row" style='margin-top: 25px;'>
                        <div class="col-md-6">
                            <h4>User's recently joined</h4>
                            <hr>
                            <table class='table table-hover' style='margin-top:15px;'>
                              <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>Joined study</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for user in users %}
                                <tr>
                                  <td>
                                    <a href="/admin/users/{{ user.facebook_id }}/">
                                      {{ user.facebook_id }}
                                    </a>
                                  </td>
                                  <td>{{ user.created_date_formatted() }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h4>User's withdrawn from study</h4>
                            <hr>
                            -
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}