<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
    <!-- Meta content -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A study of Facebook use in Affective Disorders">
    <meta name="author" content="RMIT University">
    <link rel="shortcut icon" href="/static/images/fad_study_logo.png">

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <meta property="og:title" content="The FAD Study" />
    <meta property="og:site_name" content="The FAD Study" />
    <meta property="og:url" content="thefadstudy.com.au" />
    <meta property="og:description" content="A study of Facebook use in Affective Disorders" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="{{ app_id }}" />

    <!-- We get the name of the app out of the information fetched -->
    <title>{{ name }}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/datepicker3.css">
    <link rel="stylesheet" href="/static/css/style.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/javascript/html5shiv.js"></script>
      <script src="static/javascript/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="/static/javascript/jquery.min.js"></script>
    <script src="/static/javascript/bootstrap.min.js"></script>
    <script src="/static/javascript/bootstrap-datepicker.js"></script>
    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->

    <style>
        #logo > a:hover {
            color: #999;
            text-decoration: none;
        }

        .nav > li > a {
            padding-left: 10px;
            padding-right: 10px;
        }

        .nav > li > a:hover {
            text-decoration: none;
            background-color: white;
        }

        div[class="tooltip-inner"] {
            max-width: 60px;
            width: 60px;
        }
        .radio-inline {
            margin-left: 4px;
        }
    </style>
</head>

<body>

    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ app_id }}',
                channelUrl : '{{ channel_url }}',
                status     : true,
                cookie     : true,
                xfbml      : true
            });

            FB.Event.subscribe('auth.login', function(response) {
                window.location = window.location;
            });

            FB.Event.subscribe('auth.logout', function(response) {
                window.location = window.location;
            });

            FB.Canvas.setAutoGrow();
        };

        // Load the SDK Asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container">
        {% block topbar %} {% endblock %}
        <footer class="footer" style='margin-top: 50px;'>
            <span class="pull-left">&copy; The FAD Study {{ year }}</span>
        </footer>
    </div>

    <script>
        $(function () {
            $("a").tooltip({
                'selector': '',
                'placement': 'bottom'
            });

            $('#log-out').click(function() {
                FB.logout(function(response) { });
                return false;
            });
        });
    </script>

</body>
</html>
