<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
    <!-- Meta content -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Study of Facebook use in Affective Disorders">
    <meta name="author" content="RMIT University">

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta content="" property="og:title" />
    <meta content="" property="og:type" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:site_name" />
    <meta property="og:description" content="My First App" />
    <meta content="{{app_id}}" property="fb:app_id" />

    <!-- We get the name of the app out of the information fetched -->
    <title>{{ name }}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/social-buttons-3.css">
    <link rel="stylesheet" href="/static/css/cal-heatmap.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/javascript/html5shiv.js"></script>
      <script src="static/javascript/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="/static/javascript/jquery.min.js"></script>
    <script src='/static/javascript/bootstrap.min.js'></script>
    <script src='/static/javascript/d3.v3.min.js'></script>
    <script src='/static/javascript/cal-heatmap.js'></script>
    <script src='/static/javascript/moment.min.js'></script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->

    <style>
        #logo > a:hover {
            color: #999;
            text-decoration: none;
        }

        .nav > li > a {
            padding-left: 10px;
            padding-right: 10px;
        }

        .nav > li > a:hover {
            text-decoration: none;
            background-color: white;
        }

        div[class="tooltip-inner"] {
            max-width: 60px;
            width: 60px;
        }
    </style>
</head>
<body>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            console.log('Here...');
            FB.init({
                appId      : '{{ app_id }}',
                channelUrl : '{{ channel_url }}',
                status     : true,
                cookie     : true,
                xfbml      : true
            });

            FB.Event.subscribe('auth.login', function(response) {
                window.location = window.location;
            });

            FB.Event.subscribe('auth.logout', function(response) {
                window.location = window.location;
            });

            FB.Canvas.setAutoGrow();
        };

        // Load the SDK Asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container">
        {% block topbar %}{% endblock %}
        <footer class="footer" style='margin-top: 50px;'>
            <p>&copy; The FAD Study 2013</p>
        </footer>
    </div>

    <script>
        $(function () {
            $("a").tooltip({
                'selector': '',
                'placement': 'bottom'
            });

            $('#log-out').click(function() {
                console.log('clicked...')
                FB.logout(function(response) { });
                return false;
            });
        });
    </script>
</body>
</html>
