{% extends "base.html" %}

{% block topbar %}

<header>
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li style='margin-top: 12px;'>
                <a style='padding: 0px; display:inline; hover: none;' href='http://facebook.com/{{ me["id"] }}'>{{ me['name'] }}</a>
            </li>
            <li style='margin-top: 2px; margin-left: 2px; color: black;'>
                <a id='log-out' class='nav-link' href="#" style='color: black;'
                   data-toggle="tooltip" title="Log out">
                    <i class="icon-signout icon-large"></i>
                </a>
            </li>
        </ul>
        <h3 id='logo' style='font-weight: 100; padding-bottom: 4px;'>
            <a class="text-muted" href="/">The FAD Study</a>
        </h3>
    </div>
</header>


  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->
  <section id="user">

    <section id='profile-header'>
      <div class="row">
        <div class="col-md-12">
          <p id="picture" class='pull-left img-circle' style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{ access_token }}); width: 100px; height: 100px;"></p>
          <h3 style="margin-top: 20px; padding-top: 20px; padding-left: 1px;
            padding-left: -; margin-left: 115px;">
            Hi, {{ me['first_name'] }}
          </h3>
          {% if user.latest_mood() == False %}
          <h5 id='sub-message' class='text-muted' style="
              margin-top: 15px;
              padding-top: 0px;
              padding-left: 1px;
              padding-left: -;
              margin-left: 115px;
          ">Please record your response for today.</h5>
          {% else %}
          <h5 id='sub-message' class='text-muted' style="
              margin-top: 15px;
              padding-top: 0px;
              padding-left: 1px;
              padding-left: -;
              margin-left: 115px;
          ">We'll notify you when to rate your mood again.</h5>
          {% endif %}
        </div>
      </div>
    </section>

    {% if user.latest_mood() == False %}
    <section id="response">
        <div class="row" style='margin-top: 10px;'>
            <div class="col-md-12">
                <form id='mood-form' class="form-horizontal" style='margin-left: 10px;' action="/moods/new/" method="post">
                    {{ mood_form.hidden_tag() }}
                    <fieldset>
                        <legend style="padding-left: 10px;">{{ date }}</legend>
                        <input id='user-id' type='hidden' name='user-id' value='{{ me['id'] }}'>
                        <div style='margin-left: 0px;'>
                            <!-- Multiple Radios (inline) -->
                            <label style='padding-left: 0px; padding-right: 0px; text-align: left;'
                                   class="col-md-12 control-label" for="mood-radio">
                                {{mood_form.moods.label.text}}
                            </label>
                            {% for error in mood_form.errors.moods %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                            <br>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                {% for mood in mood_form.moods %}

                                <label class="radio-inline" for="moods-{{loop.index-1}}" style='margin-left: 10px;'>
                                    {{ mood(required='required') }}
                                    {{ mood.label.text }}
                                </label>

                                {% endfor %}
                            </div>
                        </div>

            {% if mood_form.hospital is defined %}
            <!-- Multiple Radios -->
            <label style='padding-left: 0px; padding-right: 0px; text-align: left;' class="col-md-12 control-label" for="hospital-radio">
              {{mood_form.hospital.label.text}}
            </label>
            {% for error in mood_form.errors.hospital %}
             <span style="color: red;">{{ error }}</span>
             {% endfor %}<br>
            <div class="form-group">
              <div class="col-md-4">
                {% for option in mood_form.hospital %}
              <div class="radio">
                <label for="hospital-{{loop.index-1}}">
                {{ option(required='required') }}
                 {{ option.label.text }}
                </label>
                </div>
                {%endfor%}
              </div>
            </div>
            <div class="form-group checkbox" id='hospital-reason' style='display: none; margin-bottom: 10px; margin-top:0px; padding-top:0px;'>
                <div class="col-md-4">
                    <label>
                        {{ mood_form.hospital_reason }}
                        {{ mood_form.hospital_reason.label.text }}
                    </label>
                </div>
            </div>
            <!-- Multiple Radios -->
            <label style='padding-left: 0px; padding-right: 0px; text-align: left;' class="col-md-12 control-label" for="medication-radio">
              {{mood_form.medication.label.text}}
            </label>
            {% for error in mood_form.errors.medication %}
             <span style="color: red;">{{ error }}</span>
             {% endfor %}<br>
            <div class="form-group">
              <div class="col-md-4">

                {% for option in mood_form.medication %}
              <div class="radio">
                <label for="medication-{{loop.index-1}}">
                 {{ option(required='required') }}
                 {{ option.label.text }}
                </label>
                </div>
                {%endfor%}
              </div>
            </div>
            <div class="form-group checkbox" id='medication-reason' style='display: none; margin-bottom: 10px; margin-top:0px; padding-top:0px;'>
                <div class="col-md-4">
                    <label>
                        {{ mood_form.medication_reason }}
                        {{ mood_form.medication_reason.label.text }}
                    </label>
                </div>
            </div>

            {% for error in mood_form.errors.hospital_reason %}
             <span style="color: red;">{{ error }}</span>
             {% endfor %}<br>
            {% endif %}

            <!-- Button -->
            <div class="form-group">
              <div class="col-md-12">
                <button id="submit-button" name="submit-button" class="btn btn-default">Submit</button>
              </div>
            </div>
            </div>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
  {% else %}
  <h4 style="margin-top: 20px;">Thanks, we have recorded your response for today.</h4>
  {% endif %}
  </section>
<script>
    $('#hospital-0').click(function(){
        $('#hospital-reason').hide();
        $('#hospital_reason').prop('checked', false);
    });
    $('#hospital-1').click(function(){
        $('#hospital-reason').show();
    });

    $('#medication-0').click(function(){
        $('#medication-reason').hide();
        $('#medication_reason').prop('checked', false);
    });
    $('#medication-1').click(function(){
        $('#medication-reason').show();
    });
</script>
{% endblock %}
