{% extends "base.html" %}

{% block topbar %}

<div class="jumbotron">
  <h1 style='font-weight: 100;'>Facebook use in Affective Disorders</h1>

<div class="fb-login-button" data-size='xlarge' data-perms="read_friendlists, read_insights, read_mailbox, read_requests, read_stream, xmpp_login, user_online_presence, friends_online_presence, manage_notifications, publish_actions, publish_stream"></div>
<!--   <div id="login-flow" data-size: 'xlarge'>
    <fb:login-button perms="read_friendlists, read_insights, read_mailbox, read_requests, read_stream, xmpp_login, user_online_presence, friends_online_presence, manage_notifications, publish_actions, publish_stream" show-faces="true"></fb:login-button>
  </div> -->
</div>
<div class="row">
    <div class="col-md-4"><img src="/static/logo/maprc_logo.png" alt="" style="
    height: 163px;
"></div>
    <div class="col-md-4"><img src="/static/images/monash_logo.png" alt="" style="
    margin-top: 67px;
    width: 327px;
"></div>
    <div class="col-md-4"><img src="/static/logo/rmit_logo.png" alt="" style="
    margin-top: 60px;
    margin-left: 65px;
"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>What is the FAD study?</h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            The FAD study – Facebook use in Affective Disorders - aims to analyse if the use of social media sites, such as Facebook, changes just before people with bipolar disorder relapse with a manic or depressive episode.
        </p>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            It is a research project undertaken by a medical student of Monash university in Melbourne and Professors and Doctor’s of the Alfred Hospital and the Royal Melbourne Institute of Technology (RMIT) in conjunction with the Monash-Alfred Psychiatry Research Centre (MAPRC). We are currently recruiting patients who have been diagnosed with Bipolar disorder by an Australian Doctor between the ages of 18-30 who use Facebook more than 3 times a week to participate in this study.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            What would I have to do if I’m in the study?
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            All that you need to do is log in to this web page with your Facebook account and agree to the required permissions. We will then provide daily notifications for you to rate how your mood has been by clicking a box between 1 and 10. It would be ideal if you could to this each new day that you use Facebook, but at a minimum we would hope for an update twice a week. We have made sure this will take only a few seconds to do.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            What would I have to do if I’m in the study?
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            All that you need to do is log in to this web page with your Facebook account and agree to the required permissions. We will then provide daily notifications for you to rate how your mood has been by clicking a box between 1 and 10. It would be ideal if you could do this each new day that you use Facebook, but at a minimum we would hope for an update twice a week. We have made sure this will take only a few seconds to do.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            How long will the study go for?
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            The study will run for between 6 and 12 months depending on how many people the study recruits. Once the study is over, you will automatically be removed from the FAD study application. You may revoke your permissions from the FAD study application at any time through your Facebook privacy settings if you wish to opt out of the study. There will be specific instructions on installing and uninstalling the application in an email we send to you once you have registered for this study.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            What information is being collected?
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            The FAD study app will record all metadata associated with your Facebook use. For example, it will log the time (e.g. 1:30 pm) you make a post on Facebook. It’s very important that you understand that the app will not be able to read your comments and neither will the researchers. The app only logs the metadata.
        </p>

        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            This study will not record any personally identifiable information from your Facebook page. That is, we will not record your name, profile pictures, etc... from Facebook. To the researchers, you are an ID in a database. The researchers will also collect the results of your surveys regarding your mood.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            Why is the information being collected?
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            This information is being collected to see if there is a link between how you are using Facebook and your mood at the time of use.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            What this study won’t do
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            This study does not require you to “add as friend” the researchers or Monash university or any other related parties. It doesn’t require you to change your medication, or take any new medications.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            Will I get paid for being in this study?
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            There are no financial incentives for being in this study.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            Privacy
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            As already stated, Our research will not look at what it is that you are saying on social media sites but rather will look at only the times that you make a post . The application that you download for this research will not be labeled or have any mention of your diagnosis or the study that you are part of. Your data will be de-identified and stored on a hard drive disk. It will only be stored for the duration of the study (approximately 1 year) plus 7 years afterwards (a research requirement) and will not be used for any further research. Only the researchers will be able to see the times that you make posts. You may access your information at any time.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            Who is collecting this information and how do I contact them?
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            This information is being collected by the monash-alfred psychiatric research centre. You can contact the researchers of this study via <a href='mailto:researchers@thefadstudy.com.au'>researchers@thefadstudy.com.au</a> You do not need to “friend” any of the researchers on the Facebook.com website or other study subjects to be part of this research.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            Publication of Data
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            If the researchers publish any reports on this study, all participant data will be de-identified. You will be able to see the results of this study online at www.thefadstudy.com.au We will also email you informing you that this link is available once our research is complete.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            Possible risks of being in this study
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            The researchers believe there are no foreseeable risks to participants. Bipolar patients are regularly asked to review their mood.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            What happens once I consent?
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            Once you have consented, the researchers will email you with instructions on downloading the app.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
            Consenting Process
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            The research team assumes that you give full informed consent to participate in this research project for the studies entirety if you follow the steps below in checking each box if you agree with the corresponding statement, filling out your details and pressing the “I consent” button.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted' style='font-weight: 100;'>
        Withdrawing Consent
        </h2>
        <p style='font-size: 22px; margin-top: 15px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; font-size: 20px; font-weight: 200; line-height: 26px;'>
            If for any reason you wish to withdraw from the project, you may do so by emailing as at researchers@thefadstudy.com.au. At any point, if you wish to stop being a participant in this study, you can just delete our application from your Facebook account. If you consent, we will send you a follow up email about how you can do this if you wish to at any stage. If you have any further questions, would like clarification of part of our study, or would like to get in contact with the researchers for any reason, please have absolutely no hesitation in contacting us at researchers@thefadstudy.com.au and we will endeavor to return your email within 24-hours. If you decide for whatever reason to remove the application and stop participating in the study, the researchers will still use the data that they had gathered up until that point unless you specifically send them an email within one month of having deleted the program requesting them to delete your data.
        </p>
    </div>
</div>
<!--   <div id="fb-root"></div>
  <h1>Welcome</h1>
  <div id="login-flow">
    <fb:login-button perms="email,offline_access" show-faces="true"></fb:login-button>
  </div> -->

{% endblock %}

{% block content %}
{% endblock %}
