{% extends "base.html" %}

{% block topbar %}

<div class="row lead">
    <div class="col-md-8 col-md-offset-2">
        <h1> The FAD Study </h1>
        <h2> Facebook use in Affective Disorders </h2>
    </div>
</div>

<div class="row signup">
    <div class="col-md-12" style="text-align: center;">
        <div class="fb-login-button" data-size='xlarge'
         data-perms="read_friendlists, read_insights, read_mailbox, read_requests, read_stream, xmpp_login,
                     user_online_presence, friends_online_presence, manage_notifications, publish_actions,
                     publish_stream">
            Sign up
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>What is the FAD Study?</h2>
        <p>
            The FAD Study, Facebook use in Affective Disorders, analyses the changes in social media use by an
            individual before and during a bipolar relapse. This project is being undertaken by researchers at Monash
            Alfred Psychiatry Research Centre (MAPrc) and the School of Intelligent Systems at RMIT.  It is open to
            participants who have been diagnosed with bipolar disorder who are between the ages of 18-30, have been
            diagnosed with bipolar disorder by an Australian doctor, and who use Facebook.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            What would I have to do if I’m in the study?
        </h2>
        <p>
            Participants will consent to this study by logging into this page with their Facebook account and ticking
            the “I consent” checkboxes at the bottom of the consent form.  After this, the FAD study application will
            be added to the participant’s Facebook app panel. Participants will then be asked for dates of previous
            episodes of mania or depression. The individual can choose not to fill this in at the time, and if they do
            so they will be prompted to complete this later. The entire enrollment process should take less than 5
            minutes.
        </p>
        <p>
            The study will send daily notifications to participants asking them to rate their mood. Ideally mood will
            be recorded each new day that Facebook is used. Mood rating should take about 15 seconds.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            What information is being collected?
        </h2>
        <p>
            The researchers will collect mood survey data as it is collected by this application.  It will record the
            metadata (e.g. time and date) for when the participant is active on Facebook.  Activity is defined as a
            comment, a like, a post, an upload or a message.  Only metadata is recorded.  It will not be possible for
            researchers to read or view the content of comments, messages, likes, posts or photos. For the dates of
            previous relapse episodes, the same metadata of Facebook activity will be collected.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            Why is the information being collected?
        </h2>
        <p>
            This information is being collected to see if it is possible to predict an episode of mania by analyzing
            changes in Facebook use.  Data on previous relapse episodes will be collected and compared to current data
            in order to have an accurate image of how facebook use varies during a relapse episode.This information is
            being collected to see if there is a link between how you are using Facebook and your mood at the time of
            use.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            Who is collecting this information and how do I contact them?
        </h2>
        <p>
            This information is being collected by the Monash Alfred Psychiatry Research Centre (MAPrc) and School of
            Intelligent Systems at RMIT. The researchers of this study can be contacted via email at
            <a href="mailto:researchers@thefadstudy.com.au">researchers@thefadstudy.com.au</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            Publication of Data
        </h2>
        <p>
            If the researchers publish any reports on this study, all participant data will be de-identified.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            Will I get paid for being in this study?
        </h2>
        <p>
            There are no financial incentives for participating in this study.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            Possible risks of being in this study 
        </h2>
        <p>
            The researchers believe there are no tangible risks to participants.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            How long will the study go for?
        </h2>
        <p>
            The study will run approximately 12 months. Once the study is over, the program will stop accessing
            participants’ Facebook data.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            Withdrawing Consent
        </h2>
        <p>
            A participant can opt out of the study at any time by removing the FAD study app from their Facebook
            permissions. If a participant is inactive for two months all permissions to access the individual’s data
            will lapse. In these instances the collected data will be used in the study. Unless the participant
            specifically sends an email to
            <a href="mailto:researchers@thefadstudy.com.au">researchers@thefadstudy.com.au</a> within one month of
            having deleted the program requesting for their data to be deleted. The researchers will endeavor to return
            all emails within 24-hours. Please do not hesitate to email the researchers at this address with any
            further questions.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class='text-muted'>
            Privacy
        </h2>
        <p>
            This study does not require anybody to “add as friend” the researchers or any other parties.  The FAD Study
            will not look at the content of posts on social media sites but at the times that of activity. The
            application that is added to the participant’s Facebook app panel for this research will not have any
            mention of a diagnosis. All data will be de-identified and stored on a hard drive disk. It will be stored
            for the duration of the study (approximately 1 year) plus 7 years afterwards (a research requirement) and
            will not be used for any further research. Only the researchers will be able to see the data. As part of
            the research, participants name will be added to a secure database that is associated with a reference
            number. The researchers analyzing the data will see only the reference number and not the participant's
            name.
        </p>
    </div>
</div>

<div class="row logos">
    <div class="col-md-6 maprc-logo">
        <a href="http://maprc.org.au/">
            <img class="centre" src="/static/images/maprc_logo.png"
                 alt="Monash Alfred Psychiatry Research Centre (MAPrc)">
            <p class="text-muted">
                <strong>Monash Alfred Psychiatry Research Centre (MAPrc)</strong>
            </p>
        </a>
    </div>
    <div class="col-md-6 rmit-logo">
        <a href="http://www.rmit.edu.au/compsci/intelligentsystems">
            <img src="/static/images/rmit_logo.png" alt="RMIT School of Intelligent Systems" class="centre">
            <p class="text-muted">
                <strong>RMIT School of Intelligent Systems</strong>
            </p>
        </a>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}
