{% extends "base.html" %}

{% block topbar %}
<header>
  <div class="header">
          <ul class="nav nav-pills pull-right">
              <li style='margin-top: 12px;'>
                <a style='padding: 0px; display:inline; hover: none;' href='http://facebook.com/{{ me["id"] }}'>{{ me['name'] }}</a>
              </li>
              {% if user.role == 1 %}
              <li style='margin-top: 2px; margin-left: 2px; color: black;'>
                <a class='nav-link' href="/admin/" style='color: black;'
                   data-toggle="tooltip" title="Admin">
                  <i class="icon-lock icon-large"></i>
                </a>
              </li>
              {% endif %}
              <li style='margin-top: 2px; margin-left: 2px; color: black;'>
                <a id='log-out' class='nav-link' href="#" style='color: black;'
                   data-toggle="tooltip" title="Log out">
                  <i class="icon-signout icon-large"></i>
                </a>
              </li>
          </ul>
      <h3 id='logo' style='font-weight: 100; padding-bottom: 4px;'>
        <a class="text-muted" href="/">The FAD Study</a>
      </h3>
  </div>
</header>

<section id='user-list'>
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h4 class='pull-left'>
                <a href='/admin/users/'>Users</a>
              </h4>
              <h4 class='pull-right'>
                <small>Count:</small> {{ users|count }}
              </h4>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class='table table-hover' style='margin-top:15px;'>
            <thead>
              <tr>
                <th>Id</th>
                <th>Joined study</th>
                <th>Last log in</th>
                <th>Response rate</th>
                <th>Average mood</th>
                <th>Change in mood</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>
                  <a href="/admin/users/{{ user.facebook_id }}/">
                    {{ user.facebook_id }}
                  </a>
                </td>
                <td>{{ user.created_date_formatted() }}</td>
                <td>{{ user.last_login_formatted() }}</td>
                <td>{{ user.response_rate() }}%</td>
                <td>{{ user.average_mood() }}</td>
                <td>{{ user.latest_mood_change() }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}